body {
	background-color: #1e1e1e;
	color: #eee;
}

#grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

#grid-display {
	display: grid;
	justify-content: center;
	align-content: center;
}
