body {
	background-color: #1e1e1e;
	color: #eee;
	font-family: monospace;
	text-align: center;
	font-size: 1.0rem;
}

#pixel-count {
	font-size: 1.5rem;
}

#grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

#grid-display {
	display: grid;
	justify-content: center;
	align-content: center;
}
